@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body-bg: 248, 250, 252; /* slate-50 */
  --body-fg: 15, 23, 42; /* slate-900 */
}

body {
  color: rgb(var(--body-fg));
  background-color: rgb(var(--body-bg));
}

select,
input,
textarea,
button {
  color: inherit;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

